# Dependencies
node_modules/
dist/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
# Note: migrations MUST be tracked in git!

# Test
coverage/
